

.enhancer--header-page-title {
  order: -1;
  text-transform: uppercase;
  font-size: 11.5px;
  letter-spacing: 0.03em;
  line-height: 1;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  padding-left: 16px;
}

.notion-sidebar .enhancer--header-page-small {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.notion-sidebar .enhancer--header-page-medium {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.notion-sidebar .enhancer--header-page-large {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.enhancer--hide-private {
  display: none !important;
}